.abouteresponsive{
    display: flex;
    margin-top: 200px;
    direction: rtl;
}

.abouteresponsive-img{
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.abouteresponsive-text{
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
.abouteresponsive-text h1{
    font-size: 44px;
    font-family: sans-serif;
}
.abouteresponsive-text p{
    font-family: sans-serif;
    font-size: 19px;
    transition: 0.3s;
    text-align:justify ;
    padding-left: 50px;
    line-height: 1.8;
    width: 60%;
}