.footer{
    background-image: url("../img/footer.webp");
    width: 100%;
    height: 400px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text{
    text-align: center;
    direction: rtl;
   
    
    
}
.footer-text h1{
    font-size: 45px;
    color: white;
    text-align: center;
   
}
.footer-text button{
    font-size: inherit;
    color: rgba(255, 255, 255, 1);
    transition: 0.3s;
    cursor: pointer;
    font-family: sans-serif;
    padding: 0 30px 0;
    height: 55px;
    background: rgba(91, 187, 123, 1);
    border-radius: 10px 10px 10px 10px;
    border: 0;
    margin: 20px 0 0 60px;
    font-weight: 400;
    border-style: solid;
    align-items: center;
}